.splash-content {
    --background: floraralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.splash-container {
  text-align: center;
  color: #fff;
}

.splash-logo {
  margin-bottom: 20px;
}
